<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white scrollbar-young-passion" style="width: 380px; overflow-y: scroll; border-radius: 8px; border: solid 1px gainsboro;  height: 660px;">

    <div class="search">
    <input class="searchBar" type="text" name="search" id="search" placeholder="Search" >
    </div>
    <div class="list-group list-group-flush border-bottom scrollarea"  style="border-radius: 8px;">
        <div style="border-radius: 8px;">
      <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
        
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Beatrice Luigi Gomez</strong>
          <small>Wed</small>
        </div>
        <div class="col-10 mb-1 small">Miss Universe 2021 Top 5</div>
      </a>
    </div>
    <div style="border-radius: 8px;">
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between"> 
          <strong class="mb-1">Harnaaz Sandhu</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Crowned Miss Universe 2021</div>
      </a>
    </div>
    <div style="border-radius: 8px;">
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between"> 
          <strong class="mb-1">Harnaaz Sandhu</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Crowned Miss Universe 2021</div>
      </a>
    </div>
    <div style="border-radius: 8px;">
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between"> 
          <strong class="mb-1">Harnaaz Sandhu</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Crowned Miss Universe 2021</div>
      </a>
    </div>
    <div style="border-radius: 8px;">
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between"> 
          <strong class="mb-1">Harnaaz Sandhu</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Crowned Miss Universe 2021</div>
      </a>
    </div>
    <div style="border-radius: 8px;">
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between"> 
          <strong class="mb-1">Harnaaz Sandhu</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Crowned Miss Universe 2021</div>
      </a>
    </div>
    <div style="border-radius: 8px;">
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between"> 
          <strong class="mb-1">Harnaaz Sandhu</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Crowned Miss Universe 2021</div>
      </a>
    </div>
    </div>
  </div>

<div class="container-chat">
    <app-chatbox></app-chatbox>
</div>



  <!-- <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
        <div class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <input class="fs-5 fw-semibold" [(ngModel)]="username"/>
        </div>
        <div class="list-group list-group-flush border-bottom scrollarea">
        <div class="list-group-item list-group-item-action py-3 lh-tight"
             *ngFor="let msg of messages"
            >
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1"></strong>
            </div>
            <div class="col-10 mb-1 small"></div>
        </div>
        </div>
    </div>
    
    <form>
        <input class="form-control" placeholder="Write a message" [(ngModel)]="message"/>
    </form>
</div> -->